doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title #{ name }
		link(rel='stylesheet', href='styles/main.scss')
	body 
		img(src='assets/logo.svg', class='p-3 rounded-full')
		h1(class='text-6xl text-blue-900 decoration-dotted underline font-sans') #{ name }

		script(src='scripts/script.ts') 
